### 009.COLLECTION DICTONARY

In [ ]:
info={"name":"uday","age":40}

info.keys()#name age



info.values() #uday 40




del info['name'] # remove entry with key 'name'
info.clear()     # remove all entries in info
del info        # delete entire dictionary

### 009.COLLECTION DICTONARY CHECK KEY

In [ ]:
a={'name':'uday'}
'age' in a.keys()

for k,v in a:
	print(k)

### 009.COLLECTION DICTONARY CHECK VALUE

In [ ]:
a={'name':'uday'}
'uday' in a.values()

### 009.COLLECTION DICTONARY COPY

In [ ]:
a={'name':'uday'}
b=a.copy()

### 009.COLLECTION DICTONARY FILTER

In [ ]:
prices = {
   'ACME': 45.23,
   'AAPL': 612.78,
   'IBM': 205.55,
   'HPQ': 37.20,
   'FB': 10.75
}

tech_names = { 'AAPL', 'IBM', 'HPQ' }

p2 = { key:value for key,value in prices.items() if key in tech_names } #{'AAPL': 612.78, 'IBM': 205.55, 'HPQ': 37.2}
print(p2)

### 009.COLLECTION DICTONARY LARGEST SMALLEST

In [ ]:
import heapq

portfolio = [
   {'name': 'IBM', 'shares': 100, 'price': 91.1},
   {'name': 'AAPL', 'shares': 50, 'price': 543.22},
   {'name': 'FB', 'shares': 200, 'price': 21.09},
   {'name': 'HPQ', 'shares': 35, 'price': 31.75},
   {'name': 'YHOO', 'shares': 45, 'price': 16.35},
   {'name': 'ACME', 'shares': 75, 'price': 115.65}
]

cheap = heapq.nsmallest(3, portfolio, key=lambda s: s['price']) #Cheapest 3 item
expensive = heapq.nlargest(2, portfolio, key=lambda s: s['price'])#Expensive 2 item

### 009.COLLECTION DICTONARY REMOVE

In [ ]:
a={'name':'uday','age':40,'loc':'NP'}
a.pop('name') #{'age':40,'loc':'NP'} but returns its value also
del a['age']# {'loc':'NP'}

### 009.COLLECTION DICTONARY SORT

In [ ]:
from operator import itemgetter
rows = [
    {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
    {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
    {'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
    {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}
]


rows_by_fname = sorted(rows, key=itemgetter('fname'))
rows_by_lfname = sorted(rows, key=itemgetter('lname','fname'))

### 009.COLLECTION DICTONARY UPDATE

In [ ]:
a={'name':'uday','age':40}
b={'loc':'NP','addr':'KTM'}
a.update(b) #{'name': 'uday', 'age': 40, 'loc': 'NP', 'addr': 'KTM'}

### 009.COLLECTION LIST ARRAY

In [ ]:
info=['uday',40]

### 009.COLLECTION LIST ARRAY APPEND

In [ ]:
info=['uday',40]
info.append('KTM')
print(info) #['uday', 40, 'KTM']

### 009.COLLECTION LIST ARRAY CLEAR

In [ ]:
info=['uday',40]
info.clear()
print(info) #[]

### 009.COLLECTION LIST ARRAY COUNT VALUE

In [ ]:
info=['uday','bijay','sanjay','hari','uday']
print(info.count('uday')) #2

### 009.COLLECTION LIST ARRAY EXTEND

In [ ]:
info=['uday',40]
info_b=['NP','KTM']
info.extend(info_b)
print(info) #['uday', 40, 'NP', 'KTM']

### 009.COLLECTION LIST ARRAY LENGTH

In [ ]:
info=['uday',40]
len(info) #2

### 009.COLLECTION LIST ARRAY REVERSE

In [ ]:
info=['uday',40]
info.reverse()
print(info) #[40,'uday']

### 009.COLLECTION LIST ARRAY SORT

In [ ]:
info=['uday','bijay','sanjay']
info.sort(reverse=False)
print(info)#['bijay', 'sanjay', 'uday']

#Sort based on length
info.sort(key=lambda k:len(k))
print(info) #['uday', 'bijay', 'sanjay']

### 009.COLLECTION LIST COMPREHENSION ARRAY FILTER

In [ ]:
mylist = [1, 4, -5, 10, -7, 2, 3, -1]

pos = [n for n in mylist if n > 0]

### 009.COLLECTION SETS

In [ ]:
info={'uday',40}
info.add('bijay')

'bijay' in info #True

c=set()
c.add('uday')#{'uday'}
c.add('world') #{'uday','world'}
c.add('world') #{'uday','world'}
c.remove('uday')#{'world'}
c.add('ram') #{'world','ram'}

### 009.COLLECTION SORT

In [ ]:
info=[{"name":"uday","age":40,'loc':'NP'},
      {"name":"Bijay","age":38,'loc':'NP'}
     ]
sorted_by_name=sorted(info,key=lambda k:k['name'])
sorted_by_age=sorted(info,key=lambda k:k['age'],reverse=True)

print(sorted_by_name)

### 009.COLLECTION TUPLE

In [ ]:
info=('uday',40) #This can not be changed